.mcard {
  width: 7.5rem;
  height: 10rem;
  border-radius: 10px;
  border: 0.5rem solid var(--card-border-color);
  padding-bottom: 0.5rem;
  box-shadow: 5px 5px #666666;
}

.mcard-front {
  background-color: var(--card-color);
  flex-direction: column;
  display: flex;
  font-weight: bold;
  justify-content: center;
}

.mcard-back {
  background-color: #ffffff;
  overflow-y: scroll;
  overflow-x: hidden;
}