.gallery {

  .topics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;

    .input-group {
      margin: 0 1rem;
    }

  }

  section {
    display: flex;
    flex-direction: row;
  }

}