.content .package-edit {

  .page-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 1rem;

    h1 {
      white-space: nowrap;
    }

    .input-group {
      margin: 0 1rem;
    }

  }

  section {
    padding: 0;
    display: grid;
    grid-template-areas: 
      "card"
      "page"
    ;
    grid-template-rows: 7fr 1fr;

    .card-grid {
      grid-area: card;
      margin: 2rem 1rem;

      .col {
        button {
          display: flex;
          justify-content: center;
          border: 0 !important;
          background-color: transparent !important;
        }
      }
    }

    .card-page {
      grid-area: page;
      margin-top: 1rem;
    }

    .card-set {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

}