.modal-dialog {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto !important;

  .modal-content {
    margin-bottom: 5rem;

    .modal-body {
      min-height: 20rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      
    }
  }
}

.close-icon {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #cc0000;
  background: #ffffff;
  opacity: 90%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}